/*-----------------*\
    Button Section
\*-----------------*/

.btn{

  &:hover,
  &:focus{
    outline: none;
  }
}
.btn_green_fill{
  font-family: $main-font-family;
  background-color:$light_green;
  border: 1px solid $light_green;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  padding: 5px 20px;
  transition: 0.1s ease-in-out;
  &:hover{
    padding: 4px 16px;
    font-size: 16px;
    color: $white;
    transition: 0.1s ease-in-out;
  }
}
.btn_blue_fill{
  font-family: $main-font-family;
  background-color:$light_blue;
  border: 1px solid $light_blue;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  padding: 20px 70px;
  transition: 0.1s ease-in-out;
  &:hover{
    font-size: 16px;
    color: $white;
    padding: 19px 64px;
    transition: 0.1s ease-in-out;
  }
}
.btn_blue_transparent{
  font-family: $main-font-family;
  background-color:transparent;
  border: 1px solid $light_blue;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  padding: 20px 70px;
  transition: 0.1s ease-in-out;
  &:hover{
    font-size: 16px;
    color: $white;
    padding: 19px 64px;
    transition: 0.1s ease-in-out;
  }
}
.btn_grey_fill{
  font-family: $main-font-family;
  background-color: $light_grey;
  border: 1px solid $light_grey;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  padding: 5px 20px;
  transition: 0.1s ease-in-out;
  &:hover{
    color: $white;
    font-size: 13px;
    padding: 3px 16px;
    transition: 0.1s ease-in-out;
  }
}