/*--------------*\
    Form Section
\*--------------*/
.section_contact {
    background-color: #313238;
    padding-top: 80px;
    padding-bottom: 60px;
    .contact_form{
        width: 100%;
        input{
            width: 100%;
            height: 56px;
            background-color: #44444a;
            border: 0;
            outline: 0;
            margin-top: 10px;
            border-radius: 8px;
            padding: 6px 12px 6px 12px;
        }
        textarea{
            width: 100%;
            min-height: 200px;
            background-color: #44444a;
            border: 0;
            outline: 0;
            margin-top: 10px;
            border-radius: 8px;
            padding: 6px 12px 6px 12px;
        }
      }
    .contact_info{
        margin-bottom: 50px;
        padding-left: 40px;
        h5{
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            color: white;
        }
        a{
            font-size: 18px;
            font-weight: 400;
            color: white;
        }
       }
  }





.section_filter {
    background-color: rgba(248, 248, 248, 1);
    padding: 111px 0;
  
    .container {
      background-color: rgba(255, 255, 255, 1);
      padding: 43px 80px;
      border-radius: 20px;
  
      h1 {
        margin-bottom: 80px;
      }
    }
  
  .filter_nav {
      margin-bottom: 30px;
  .multi-select-container{
    width: 100%;
    &.multi-select-container--open{
      .multi-select-button{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .multi-select-button{
      width: 100%;
      max-width: 100%;
      background: transparent;
      color: black;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      padding: 16px;
      border: 1px solid rgba(207, 207, 207, 1) !important;
      border-radius: 10px;
    }
    .multi-select-menu{
      z-index: 99;
      top: 67px;
      margin-top: 0;
      padding: 15px;
      .multi-select-menuitems{
        display: flex;
        flex-flow: column;
        label{
          display: block;
          width: 100%;
          padding: 0.25rem 1rem;
          clear: both;
          font-weight: 400;
          color: #212529;
          text-align: inherit;
          text-decoration: none;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
        }
      }
    }
  }
      span {
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        color: rgba(0, 0, 0, 1);
        display: inline-block;
        margin-bottom: 20px;
  
        img {
          // color: rgba(116, 135, 155, 1);
          margin-right: 13px;
        }
      }
  
      .dropdown {
        button {
          width: 100%;
          background: transparent;
          color: black;
          font-size: 18px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 500;
          padding: 16px;
          border: 1px solid rgba(207, 207, 207, 1) !important;
          border-radius: 10px;
  
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
  
        .dropdown-menu {
          width: 100%;
        }
      }
    }
  
    .filter_data {
        height: 800px;
        overflow-y: auto;
        display: none;
        &.is_checked{
            display: block;
        }
        &::-webkit-scrollbar {
            width: 5px;
          }
          /* Track */
          &::-webkit-scrollbar-track {
            background: rgba(217, 217, 217, 1);
          }
          
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #02A1D3;
          }
          
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #000000;
          }
      .accordion {
        margin-bottom: 12px;
      }
  
      button {
        color: rgba(0, 0, 0, 1);
        font-size: 18px;
        font-weight: 500;
        background-color: rgba(250, 250, 250, 1);
        border-bottom: none;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        position: relative;
  
        &:focus {
          outline: none;
          box-shadow: none;
        }
  
        &:after {
          margin-left: 10px;
        }
  
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background-image: url('/assets/images/check.png');
          background-repeat: no-repeat;
          background-size: contain;
        }
  
        img {
          margin-right: 10px;
        }
      }
  
      .accordion-body {
        background-color: rgba(250, 250, 250, 1);
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
  
        ul {
          li {
            font-size: 14px;
  
            +li {
              margin-top: 10px;
            }
          }
        }
      }
      &.research_package{
        .accordion{
            .accordion-item{
                position: relative;
                margin-bottom: 20px;
                .accordion-button{
                    display: flex;
                    justify-content: space-between;
                    &:before{
                        content: unset;
                    }
                    &:after{
                        content: unset;
                    }
                    h6{
                        margin-bottom: 0;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
  }
    }







.filter_check{
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 99;
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        &:checked {
            + label{
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 7px;
                    width: 6px;
                    height: 14px;
                    border: solid #0079bf;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                  }
            }
        }
      } 
      label {
        position: relative;
        cursor: pointer;
        &:before {
            content:'';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid #0079bf;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 8px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 5px;
          }
      }
}







.subscription_form{
  h5{
    font-size: 18px;
    font-weight: 600;
    color: #151515;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  input{
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
}














/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}



