/*--------------*\
    Hero Section
\*--------------*/
.section_hero{
    background-image: url('/assets/images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    // height: 100vh;
    padding: 120px 0;
    .container{
      position: relative;
      z-index: 2;
      // max-width: 1720px;
    }
    .max-w{
        color: #949494;
       font-size: 18px;
        font-weight: 400;
        margin: 40px 0 75px;
        max-width: 800px;
        @include grid-xxl {
            font-size: 26px; 
          }
    }
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-39%);
      background-image: url(/assets/images/hero-world.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 1500px;
      height: 1500px;
    }
}

.section_demo{
    background-image: url('/assets/images/demo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 220px;
    padding-bottom: 95px;
}
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #02A1D3;
    border: none;
    border-radius: 36px;
    
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    border: none;
    border-radius: 36px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border: none;
  }